<!-- Pagination links -->
<div class="row" style="margin-top: 40px;margin-left: 450px;">
    
<div class="col-6 text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="paginate_button page-item previous" id="kt_customers_table_previous" style="margin-right: 10px;">

                <a href="?page=1" class="btn btn-primary">&laquo; First</a>
            </li>
            <li class="paginate_button page-item previous" id="kt_customers_table_previous" style="margin-right: 10px;">
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>
            </li>
            {% endif %}
            <li class="paginate_button page-item previous" id="kt_customers_table_previous" style="margin-right: 10px;">

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            </li>
            {% if page_obj.has_next %}
            <li class="paginate_button page-item previous" id="kt_customers_table_previous" style="margin-right: 10px;">

                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>
            </li>
            <li class="paginate_button page-item previous" id="kt_customers_table_previous" style="margin-right: 10px;">

                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last &raquo;</a>
            </li>
            {% endif %}

        </ul>
</div>
</div>
