{% extends 'base.html' %}
{%block content%}

<div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <h4>User Create</h4>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <a href="{% url 'users:user_create_view' %}" class="btn btn-primary">Create</a>
            <li class="nav-item dropdown">
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!--  Header End -->
      <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">User Create</h5>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title fw-semibold mb-4"></h5>
                  <div class="card">
                    <div class="card-body">
                        <form class="p-4" enctype="multipart/form-data" method="POST" id="okkkk">
                            <div class="row">
                            
                            
                              {% for field in user_form.visible_fields %}
                            
                              {% if field.field.widget.input_type == "text" or field.field.widget.input_type == "number" or field.field.widget.input_type == "datetime-local" or field.field.widget.input_type == "url" or field.field.widget.input_type == "email" or field.field.widget.input_type == "date" %}
                              <div class="col-md-6 fv-row fv-plugins-icon-container">
                            
                              {% elif field.field.widget.input_type == "textarea" or field.field.widget.input_type == "checkbox" %}
                                     <div class="col-md-12 fv-row fv-plugins-icon-container">
                               {% else %}
                                       <div>
                               {% endif %}
                                 <p class="form-group">
                                       {% if field.field.widget.input_type == "checkbox" %}
                                       <label class="form-check form-switch form-check-custom form-check-solid">
                                             {{field}}
                                           <span class="form-check-label fw-bold text-muted" for="kt_modal_add_customer_billing">
                                             {{field.label}}
                                           </span>
                                         </label>
                                       {% else %}
                                       <label for="{{field.auto_id}}">{{field.label}}</label>
                                       {{field}}
                                       <div class="fv-plugins-message-container invalid-feedback"><div data-field="daterangepicker_input"> {{field.errors}} </div></div>
                                       {% endif %}
                                       </p>
                                       </div>
                                     {% endfor %}
                            
                            
                                 {% for field in form.visible_fields %}
                            
                                     {% if field.field.widget.input_type == "text" or field.field.widget.input_type == "number" or field.field.widget.input_type == "datetime-local" or field.field.widget.input_type == "url" or field.field.widget.input_type == "email" or field.field.widget.input_type == "date" %}
                                     <div class="col-md-6 fv-row fv-plugins-icon-container">
                            
                                     {% elif field.field.widget.input_type == "textarea" or field.field.widget.input_type == "checkbox" %}
                                            <div class="col-md-12 fv-row fv-plugins-icon-container">
                                      {% else %}
                                              <div>
                                      {% endif %}
                                        <p class="form-group">
                                              {% if field.field.widget.input_type == "checkbox" %}
                                              <label class="form-check form-switch form-check-custom form-check-solid">
                                                    {{field}}
                                                  <span class="form-check-label fw-bold text-muted" for="kt_modal_add_customer_billing">
                                                    {{field.label}}
                                                  </span>
                                                </label>
                                              {% else %}
                                              <label for="{{field.auto_id}}">{{field.label}}</label>
                                              {{field}}
                                              <div class="fv-plugins-message-container invalid-feedback"><div data-field="daterangepicker_input"> {{field.errors}} </div></div>
                                              {% endif %}
                                              </p>
                                              </div>
                                            {% endfor %}
                            
                            
                            
                            
                                {% csrf_token %}
                            
                                </div>
                            
                            
                                <input type="submit" value="Submit" class="btn btn-primary mt-2" id="create-btn"></input>
                            
                            </form>

                    </div>
                  </div>
                </div>
              </div>
          
            </div>
          </div>
        </div>
      </div>
      <div class="py-6 px-6 text-center">
        <p class="mb-0 fs-4">Artist Management System<a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline"></a></p>
      </div>
  </div>


{%endblock%}